[submodule "app/test_commit"]
	path = app/test_commit
	url = https://github.com/BilleGI/test_commit.git
[submodule "app/calculate"]
	path = app/calculate
	url = https://github.com/BilleGI/calculate.git
[submodule "app/shader"]
	path = app/shader
	url = https://github.com/BilleGI/shader.git
