[submodule "test_commit"]
	path = app/test_commit
	url = https://github.com/BilleGI/test_commit.git
[submodule "calculate"]
	path = app/calculate
	url = https://github.com/BilleGI/calculate.git
[submodule "shader"]
	path = app/shader
	url = https://github.com/BilleGI/shader.git
